html, body, div, span, h1, h2, h3, p, a, em, img, strong, u, ol, ul, li, form, label, caption, aside, canvas, figure, figcaption, footer, header, hgroup, menu, nav, section, time, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
body {line-height: 1}
ol, ul {list-style: none}

body, section, div, input, label {-moz-box-sizing: border-box;box-sizing: border-box;}


/* The basics */
body {
	width: 100%;
   	font-family: helvetica; 	
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.2em;
}

input[type=checkbox] {
    display: block;
    position: absolute;
    opacity: 0.5;
    background:#507D2A;
    z-index: 10;
}

input[type=checkbox] + label {
  display: block;
  text-align: center;
  border: 1px solid #000;
}

input[type=checkbox]:checked + label{
    background: orange;
    opacity: 0.6; 
}
.playing{ background: #fff; opacity: 0.2; }

#wrapper{
	padding: 20px; 
	background: #d8d8d8; /* Old browsers */
	background: -moz-linear-gradient(top, #d8d8d8 35%, #acacac 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#d8d8d8), color-stop(99%,#acacac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d8d8d8 35%,#acacac 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d8d8d8 35%,#acacac 99%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #d8d8d8 35%,#acacac 99%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#acacac',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #d8d8d8 35%,#acacac 99%); /* W3C */
	body: 100%; 
}

/* End of the basics */


/* Phones and tablets */
@media all and (max-width: 959px) {
	body {
		width: 100%;
		font-size: 14px;
	}
}

/* Just phones */
@media all and (max-width: 480px) {
	body {font-size: 10px;}
}

@media all and (min-width: 960px) {
	body {
		width: 960px;
		margin: 0 auto;
		position: relative;
		font-size: 22px;
	}
}


/*
	Size the boxes in percent, depending on the
	surrounding body
*/
.beat{float: left; width: 6.25%;}
input[type=checkbox] + label {
	width: 80%;
	height: 2em;
	line-height: 2em;
	margin: 10%;
}
