html, body, div, span, h1, h2, h3, p, a, em, img, strong, u, ol, ul, li, form, label, caption, aside, canvas, figure, figcaption, footer, header, hgroup, menu, nav, section, time, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
body {line-height: 1}
ol, ul {list-style: none}

body, section, div {-moz-box-sizing: border-box;box-sizing: border-box;}

/*body{
    background: #507D2A;
    width: 100%;
    padding: 40px;  
}
@media all and (min-width: 601px){
    h1{font-size: 6em;}
    h2{font-size: 2.4em; }
}

@media all and (min-width: 0px) and (max-width: 321px) {
    h1{font-size: 2em; color: red;}
    h2{font-size: 0.75em; }
}

@media all and (min-width: 322px) and  (max-width: 600px) {
    
    h1{font-size: 4em; color: yellow; }
    h2{font-size: 1.5em; }

}*/

body {
	background: #507D2A;
}

h1 {
	font-size: 6em;
}
h2 {
	font-size: 2.4em;
}

@media all and (min-width: 320px) {
	body {
		width: 100%;
		padding: 0;
	}
}

@media all and (min-width: 481px) {
	
}

@media all and (min-width: 960px) {
	body {
		width: 960px;
		padding: 10px;
		margin: 0 auto;
		position: relative;
	}

}

.beat{float: left; width: 50px;}

input[type=checkbox] {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 5px;
    opacity: 0;
    background:#507D2A;
    z-index: 10;
}

input[type=checkbox] + label {
  display: block;
  width: 40px;
  height: 40px; 
  line-height: 40px;
  margin: 5px;
  text-align: center;
  border: 1px solid #000;
}

input[type=checkbox]:checked + label{
    background:orange;
    opacity: 0.6; 
}
.playing{ background: #fff; opacity: 0.2; }
