html, body, div, span, h1, h2, h3, p, a, em, img, strong, u, ol, ul, li, form, label, caption, aside, canvas, figure, figcaption, footer, header, hgroup, menu, nav, section, time, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
body {line-height: 1}
ol, ul {list-style: none}

section, div {-moz-box-sizing: border-box;box-sizing: border-box;}

body{
    background: #507D2A;
    -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    width: 100%;
    padding: 40px;  
}
@media all and (min-width: 601px){
    h1{font-size: 6em;}
    h2{font-size: 2.4em; }
}

@media all and (min-width: 0px) and (max-width: 321px) {
    h1{font-size: 2em; color: red;}
    h2{font-size: 0.75em; }
}

@media all and (min-width: 322px) and  (max-width: 600px) {
    
    h1{font-size: 4em; color: yellow; }
    h2{font-size: 1.5em; }

}


    

.beat{float: left; }
input[type=checkbox] {
    display: block;
<<<<<<< HEAD
}
=======
}
>>>>>>> 65c10af6c2a16951568a1fd04bf942ee922b36fc
